/* reset */
html{ -webkit-text-size-adjust:none }
html, body{ direction:ltr }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption{ margin:0; padding:0 }
img, form, fieldset, svg{ border:0; vertical-align:top }
input, button, select{ -webkit-border-radius:0; border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none }
button{ border:0; background:none; cursor:pointer }
button:disabled{ cursor:default }
button::-moz-focus-inner{ padding:0; margin:-1px }
ul, ol{ list-style:none }
a{ text-decoration:none }
a:hover{ text-decoration:none }
.blind, legend{ overflow:hidden; position:absolute; width:1px; height:1px; clip:rect(1px, 1px, 1px, 1px) }
body, textarea, input, select, textarea, button{ font-family:arial; line-height:1.32 }
#wrap{ min-width:320px;max-width:1440px;margin:0 auto}